<!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active">Forum</li>
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">
        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title">Forum</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->
              <% @forums.each do |forum| %>
                <div class="image-box style-3-b">
                  <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <div class="overlay-container">
                        <%= image_tag forum.image.thumb.url %>
                        
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-8 col-lg-9">
                      <div class="body">
                        <h3 class="title"><a href="portfolio-item.html"><%= forum.title %></a></h3>
                        <p class="small mb-10"><i class="icon-calendar"></i> <%= forum.created_at.strftime("%b %d %y") %></p>
                        <div class="separator-2"></div>
                        <p class="mb-10"><%= forum.text %></p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
            <!-- main end -->
          </div>
        </div>
      </section>
      <!-- main-container end -->
      
    