<!-- banner start -->
      <!-- ================ -->
      <div class="banner dark-translucent-bg" style="background-image:url('images/linkspage.jpg'); background-position: 50% 32%;">
        <!-- breadcrumb start -->
        <!-- ================ -->
        <div class="breadcrumb-container">
          <div class="container">
            <ol class="breadcrumb">
              <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Home</a></li>
              <li class="active">Research</li>
            </ol>
          </div>
        </div>
        <!-- breadcrumb end -->
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
              <h2 class="title object-non-visible logo-font-2 lowercase" data-animation-effect="fadeIn" data-effect-delay="100"><strong>Good </strong>Research</h2>
              <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
              <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Find the latest research on the benefits of doing good as well as ideas on how &amp; where you can do good.   Please Check back often for updates!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container padding-bottom-clear">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
           
            <div class="main col-md-12">

              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://www.goodnet.org/articles/7-scientific-facts-about-benefit-doing-good"><span class="icon large default-bg circle"><i class="fa fa-gratipay" aria-hidden="true"></i></span></a>
                    <!--  <a href="http://www.goodnet.org/articles/7-scientific-facts-about-benefit-doing-good"><span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span></a>
                     This is making the link on the circle-->
                    <h3>Benefit Of Doing Good</h3>

                    <!-- 1 -->

                    <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://www.livescience.com/4443-study-good-feel-good.html"><span class="icon large default-bg circle"><i class="fa fa-lemon-o" aria-hidden="true"></i></span></a>
                    <!--  <a href="http://www.goodnet.org/articles/7-scientific-facts-about-benefit-doing-good"><span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span></a>
                     This is making the link on the circle-->
                    <h3>Doing Good Makes You Feel Good</h3>
                    <!-- 2 -->

                     <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://www.huffingtonpost.com/2016/12/12/international-day-of-happiness-helping-_n_6905446.html"><span class="icon large default-bg circle"><i class="fa fa-key" aria-hidden="true"></i></span></a>
                    <!--  <a href="http://www.goodnet.org/articles/7-scientific-facts-about-benefit-doing-good"><span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span></a>
                     This is making the link on the circle-->
                    <h3>Key To Achieving Happiness</h3>

                    <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://www.webmd.com/balance/features/science-good-deeds#1"><span class="icon large default-bg circle"><i class="fa fa-flask" aria-hidden="true"></i></span></a>
                    <!--  <a href="http://www.goodnet.org/articles/7-scientific-facts-about-benefit-doing-good"><span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span></a>
                     This is making the link on the circle-->
                    <h3>The Science Of Good Deeds</h3>

                  <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="https://pairedlife.com/etiquette/The-Power-of-Good-Deeds"><span class="icon large default-bg circle"><i class="fa fa-bolt" aria-hidden="true"></i></span></a>
                    <!--  <a href="http://www.goodnet.org/articles/7-scientific-facts-about-benefit-doing-good"><span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span></a>
                     This is making the link on the circle-->
                    <h3>The Power &amp; Benefits Of Doing Good Deeds</h3>

                  <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="https://www.mentalhealth.org.uk/publications/doing-good-does-you-good"><span class="icon large default-bg circle"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></span></a>
                   
                    <h3>Doing Good Does You Good</h3>

                  <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://greatergood.berkeley.edu/article/item/kindness_makes_you_happy_and_happiness_makes_you_kind"><span class="icon large default-bg circle"><i class="fa fa-smile-o" aria-hidden="true"></i></span></a>
                   
                    <h3>Kindness Makes You Happy</h3>

                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://www.actionforhappiness.org/take-action/do-kind-things-for-others"><span class="icon large default-bg circle"><i class="fa fa-bullhorn" aria-hidden="true"></i></span></a>
                   
                    <h3>Action For Happiness</h3>

                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://money.usnews.com/money/personal-finance/articles/2012/04/04/why-helping-others-makes-us-happy"><span class="icon large default-bg circle"><i class="fa fa-commenting-o" aria-hidden="true"></i></span></a>
                   
                    <h3>Why Helping Others Makes Us Happy</h3>


                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="https://www.helpguide.org/articles/work-career/volunteering-and-its-surprising-benefits.htm"><span class="icon large default-bg circle"><i class="fa fa-info" aria-hidden="true"></i></span></a>
                   
                    <h3>Volunteering &amp; Its Surprising Benefits</h3>


                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://greatergood.berkeley.edu/article/item/5_ways_giving_is_good_for_you"><span class="icon large default-bg circle"><i class="fa fa-gift" aria-hidden="true"></i></span></a>
                   
                    <h3>5 Ways Giving Is Good for You</h3>


                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="https://www.charitynavigator.org"><span class="icon large default-bg circle"><i class="fa fa-map" aria-hidden="true"></i></span></a>
                   
                    <h3>Charity Navigator</h3>

                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://blog.charitynavigator.org/search/label/%23MetricMonday"><span class="icon large default-bg circle"><i class="fa fa-credit-card" aria-hidden="true"></i></span></a>
                   
                    <h3>Fundraising Efficiency</h3>

                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://m.huffpost.com/us/entry/6445756"><span class="icon large default-bg circle"><i class="fa fa-book" aria-hidden="true"></i></span></a>
                   
                    <h3>6 Things You Should Know About Donating To Charity</h3>

                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://borgenproject.org/which-charitable-organization-should-i-donate-to/"><span class="icon large default-bg circle"><i class="fa fa-question" aria-hidden="true"></i></span></a>
                   
                    <h3>What Charitable Organization Should I Donate To?</h3>

                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://time.com/money/3611880/charitable-giving-tips-advice-katherina-rosqueta/"><span class="icon large default-bg circle"><i class="fa fa-money" aria-hidden="true"></i></span></a>
                   
                    <h3>How to Get the Most Bang for Your Charitable Giving Buck</h3>

                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="https://www.planusa.org/?gclid=Cj0KEQiAtqHEBRCNrdC6rYq9_oYBEiQAejvRl6daWvGpVVisR2PD14lRrI8iW8JdLwKslKoJGFNH_gMaAgFB8P8HAQ"><span class="icon large default-bg circle"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span></a>
                   
                    <h3>Planning To Make A Difference (Multiple Ideas)</h3>

                <div class="separator clearfix"></div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <a href="http://charity.org"><span class="icon large default-bg circle"><i class="fa fa-globe" aria-hidden="true"></i></span></a>
                   
                    <h3>Global Impact</h3>










