<!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active">Challenge Timeline</li>
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title logo-font-2 lowercase">Completed Challenges</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->

              <!-- timeline grid start -->
              <!-- ================ -->
              <div class="timeline clearfix">
                
<!--                 <div class="timeline-date-label clearfix">May 2015</div>
 -->
                <% @completed_user_challenges.each_with_index do |user_challenge, index| %>
                  <% if index.even? %>
                    <%= render 'user_challenge_comments', user_challenge: user_challenge, challenge_number: user_challenge.id %>
                  <!-- timeline grid item start -->
                    <div class="timeline-item">
                      <!-- blogpost start -->
                      <%= render "individual_timeline", user_challenge: user_challenge %>
                      <!-- blogpost end -->                              
                    </div>
                  <% else %>
                    <%= render 'user_challenge_comments', user_challenge: user_challenge, challenge_number: user_challenge.id  %>
                    <div class="timeline-item pull-right">
                      <!-- blogpost start -->
                      <%= render "individual_timeline", user_challenge: user_challenge %>
                      <!-- blogpost end -->               
                    </div>
                  <% end %>
                  <!-- timeline grid item end -->
                <% end %>


                <!-- timeline grid item end -->                
          
              </div>
              <!-- timeline grid end -->

            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
      <!-- main-container end

<!-- Button trigger modal -->


