<div ng-app="app" id="challenge-index">
  <div ng-controller="challengesCtrl" ng-init="setup()">
  
  <h1 class="logo-font-2 lowercase text-center">Good Challenges</h1>



      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

              <!-- page-title start -->
              <!-- ================ -->
              <!-- <h1 class="page-title">Good. For Nothing</h1>
              <div class="separator-2"></div> -->
              <!-- page-title end -->
              <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit Illo quaerat <br> commodi excepturi dignissimos!</p> -->

              <!-- isotope filters start -->
              <div class="filters">
                <ul class="nav nav-pills">
                  <li class="active"><a href="#" data-filter="*">All</a></li>
                  <% @categories.each do |category| %>
                     <li><a href="#" data-filter=".<%= category.nospace_name %>"><%= category.name %></a></li>
                  <% end %>
                </ul>
              </div>
              <!-- isotope filters end -->

              <div class="isotope-container-fitrows row grid-space-10">
                  <div class="col-sm-6 col-md-4 isotope-item {{ challenge.category_list }}" ng-repeat="challenge in challenges | filter: challengeFilter" >
                    <div class="image-box style-2 mb-20 bordered dark-bg">
                      
                      <div class="body challenge-index-container">
                        <h3>{{ challenge.title }}</h3>
                        <div class="separator-2"></div>
                        <p class="small mb-10"><i class="icon-calendar"></i> {{ challenge.friendly_date }}</p>
                        <p class="text-muted challenge-info-scroll">{{ challenge.description }}</p>
                        <a href="/challenges/{{ challenge.id }}" class="btn btn-gray-transparent btn-animated btn-sm margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
      <!-- main-container end -->
  </div>
</div>
      