<% if current_user %>
   
  <div class="section dark-bg text-muted negative-margins">
    <div class="container">
      <h2>Create Your Own Challenge!</h2>
      
      <%= form_tag "/challenges", role: "form", method: :post do %>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="inputSuccess4">Title</label>
              <%= text_field_tag :title, "", class: "form-control", id: "inputSuccess4" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="inputWarning4">Description</label>
              <%= text_field_tag :description, "", class: "form-control", id: "inputWarning4" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="inputError4">Input with error</label>
              <input type="text" class="form-control" id="inputError4">
              <i class="fa fa-times form-control-feedback"></i>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-gray">Submit</button>
      <% end %>
    </div>
  </div>
<% else %>
  <p>Please log in to create a challenge! </p>
<% end %>  

