// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.negative-margins {
  margin-left: -15px;
  margin-right: -15px;
}

.challenge-index-container h3, .special-font {
  font-family: "FFF Tusj";
}

.image-box.style-2 {
  // background: url('https://www.newton.ac.uk/files/covers/968361.jpg') no-repeat center center fixed !important;
}