.cursive {
  font-family: 'Pacifico', cursive;
  text-transform: none;
}

.cursive-50 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-transform: none;
}

.challenge-countdown {
  text-align: center;
  padding: 40px 60px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  
  span.challenge-value {
    font-size: 35px;
  }

  span.challenge-value-caption {
    font-size: 14px;
  }

  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // background-color: rgba(0, 0, 0, 0.2);
}

